<div class='card'>
  <div *ngIf='!isNew' class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" [(ngModel)]='isEditMode' id="switch1">
    <label class="custom-control-label" for="switch1">ערוך</label>
  </div>
  <div>
    <input type="button" class='btn btn-success' (click)='goToAddFlights()'
      style="float: left; width: fit-content; margin-left:20px" value="הוסף/ערוך טיסות לחופשה" />
    <input type="button" class='btn btn-primary' (click)='goToAddLocation()'
      style="float: left; width: fit-content; margin-left:20px" value="הוסף/ערוך נקודות עניין ותחנות לחופשה" />
  </div>
  <form #form="ngForm" (ngSubmit)="submit()">
    <div style="width:70%; margin: 0 auto; direction: rtl">
      <h3 style="text-align: center" *ngIf='!isEditMode'>
        {{vacation.title}}
      </h3>
      <input type="text" placeholder="כותרת החופשה" name='vactitle' *ngIf='isEditMode' style="width:80%"
        [(ngModel)]='vacation.title'>
      <br />
      <div style="clear: both; display: block">
        <div style="float:right; margin-left: 50px">
          <div>תחילת הטיול</div>
          <div *ngIf='!isEditMode'>{{vacation.startDate | date:"dd/MM/yyyy"}}</div>
          <div *ngIf='isEditMode'><input type="date" name='vStartDate'
              [ngModel]="vacation.startDate | date:'yyyy-MM-dd'" (ngModelChange)="vacation.startDate = $event"></div>
        </div>

        <div style="float:right">
          <div>סוף הטיול</div>
          <div *ngIf='!isEditMode'>{{vacation.endDate | date:"dd/MM/yyyy"}}</div>
          <div *ngIf='isEditMode'><input type="date" name='vEndDate' [ngModel]="vacation.endDate | date:'yyyy-MM-dd'"
              (ngModelChange)="vacation.endDate = $event"></div>
        </div>
      </div>
      <br><br>
      <div *ngIf='!formIsValid' style="color:red; text-align: center; font-weight: bolder">
        יש להזין את כל פרטי החופשה
      </div>
      <br>
      <input style="width: 30%; margin: 0 35%;" class="btn btn-primary" *ngIf='isEditMode' type="submit"
        [value]="!isNew? 'עדכן' : 'הכנס'">
    </div>
  </form>

  <div style="clear: both; display: block" *ngIf='!isEditMode'>
    <h3 style="cursor: pointer;" (click)='flightShow = !this.flightShow'>
      טיסות -
    </h3>
    <ul>
      <li *ngFor='let flight of flights'>
        <div> <b> {{flight.to}} >>>>>> {{flight.from}}</b> </div>
        <div *ngIf='flightShow'>
          <table style="width:80%">
            <thead>
              <th>
                שדה תעופה
              </th>
              <th>
                חברת תעופה
              </th>

              <th>
                מספר טיסה
              </th>
              <th>
                תאריך נחיתה בו
              </th>
              <th>
                תאריך המראה ממנו
              </th>
            </thead>
            <tbody>
              <tr>
                <td>
                  {{flight.airport}}
                </td>
                <td>
                  {{flight.company}}
                </td>
                <td>
                  {{flight.flightNumber}}
                </td>
                <td>
                  {{flight.arrivalDate | date:"dd/MM/yyyy hh:mm:ss"}}
                </td>
                <td>
                  {{flight.departureDate | date:"dd/MM/yyyy hh:mm:ss"}}
                </td>
              </tr>
              <tr style="background-color:burlywood">
                <td colspan="5">
                  {{flight.notes}}
                </td>
              </tr>
              <tr>
                <td colspan="5">
                  משימות לקראת הטיסה -
                  <ul *ngFor='let todo of flight.todo'>
                    <li>
                      <div> אחראי לביצוע -
                        <b>
                          {{todo.userIncharge}}
                        </b>
                      </div>
                      <div> כותרת המשימה -
                        <b>
                          {{todo.title}}
                        </b>
                      </div>
                      <div>
                        המשימה -
                        <b> {{todo.content}} </b></div>
                      <div>
                        האם בוצע ? - <b>{{todo.done | mybool}}</b>
                      </div>
                    </li>
                  </ul>

                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <hr style="width:100%;  margin:20px auto" />
      </li>
    </ul>

    <h3 style="cursor: pointer;" (click)='stationShow = !this.stationShow'>
      תחנות -
    </h3>
    <ul>
      <li *ngFor='let location of locations'>
        <div> <b> {{location.name}} </b> </div>
        <div *ngIf='stationShow'>
          <table style="width:80%; direction: rtl">
            <thead>
              <th>
                סוג 
              </th>
              <th>
                קישור
               </th>
              <th>
                התחלה
              </th>
              <th>
                סיום
              </th>
              <th>
                היינו
              </th>
              <th>
                ציון(1-10)
              </th>
            </thead>
            <tbody>
              <tr>
                <td>
                  {{location.type}}
                </td>
                <td>
                  <a target="_blank" [href]='location.link'>קישור יעיל</a>
                </td>
                <td>
                  {{location.startDate | date : 'short'}}
                </td>
                <td>
                  {{location.endDate | date : 'short'}}
                </td>
                <td><input type="checkbox" disabled [value]="location.visited"></td>
                <td>
                  {{location.myGrade}}
                </td>
              </tr>
              <tr style="background-color:burlywood">
                <td colspan="6">
                  {{location.notes}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr style="width:100%;  margin:20px auto" />
      </li>
    </ul>





  </div>
</div>